---

---

<!-- <div class="cursor-dot" data-cursor-dot></div>
<div class="cursor-outline" data-cursor-outline></div>

<style>
	body {
		cursor: none;
	}

	.cursor-dot {
		width: 5px;
		height: 5px;
		background-color: white;
	}

	.cursor-outline {
		width: 30px;
		height: 30px;
		border: 2px solid hsla(0, 0%, 100%, 0.5);
		background-color: transparent;
	}

	.cursor-dot, .cursor-outline {
		position: fixed;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		z-index: 1;
		pointer-events: none;
	}
</style>

<script>
	const cursorDot = document.querySelector<HTMLElement>("[data-cursor-dot]");
	const cursorOutline = document.querySelector<HTMLElement>("[data-cursor-outline]");

	window.addEventListener("mousemove", function (e: MouseEvent) {
	const posX = e.clientX;
	const posY = e.clientY;

	if (cursorDot) {
		cursorDot.style.left = `${posX}px`;
		cursorDot.style.top = `${posY}px`;
	}

	if (cursorOutline) {
		cursorOutline.animate(
		{
			left: `${posX}px`,
			top: `${posY}px`,
		},
		{ duration: 500, fill: "forwards" }
		);
	}
	});
</script> -->

<div class="cursor-dot" data-cursor-dot></div>
<div class="cursor-outline" data-cursor-outline></div>

<style>
  body {
    cursor: none;
  }

  .cursor-dot {
    width: 5px;
    height: 5px;
    background-color: white; /* Color por defecto */
  }

  .cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    background-color: transparent;
  }

  .cursor-dot, .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
  }
</style>

<script>
  	const cursorDot = document.querySelector<HTMLElement>("[data-cursor-dot]");
  	const cursorOutline = document.querySelector<HTMLElement>("[data-cursor-outline]");
	const setCursorColor = () => {
		const body = document.body;
		const isDarkTheme = body.classList.contains('dark');

		if (cursorDot) {
			cursorDot.style.backgroundColor = isDarkTheme ? 'white' : '#23283e';
		}

		if (cursorOutline) {
			cursorOutline.style.borderColor = isDarkTheme ? 'white' : '#23283e';
		}
	};

  window.addEventListener("mousemove", function (e: MouseEvent) {
    const posX = e.clientX;
    const posY = e.clientY;

    if (cursorDot) {
      cursorDot.style.left = `${posX}px`;
      cursorDot.style.top = `${posY}px`;
    }

    if (cursorOutline) {
      cursorOutline.animate(
        {
          left: `${posX}px`,
          top: `${posY}px`,
        },
        { duration: 500, fill: "forwards" }
      );
    }
  });

  setCursorColor();

  const themeObserver = new MutationObserver(() => {
    setCursorColor();
  });

  themeObserver.observe(document.body, { attributes: true, attributeFilter: ['class'] });
</script>
